.checkout-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  padding: 6rem 8rem;
}

.checkout-card,
.summary-card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
}

.checkout-card input {
  width: 100%;
  padding: 0.9rem;
  margin-top: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.row {
  display: flex;
  gap: 1rem;
}

.payment-option {
  display: block;
  margin-top: 1rem;
  cursor: pointer;
}

.summary-item,
.price-row {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.discount {
  color: green;
}

.total {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.place-btn {
  width: 100%;
  margin-top: 1.5rem;
  padding: 1rem;
  background: tomato;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.place-btn:hover {
  background: #e64a19;
}