.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(244, 240, 228, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.login-container {
  background: white;
  background: #FEFBF6;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 25rem;
  width: 90%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  position: relative;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #1b3c53;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login input {
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  font-size: 0.9rem;
  outline: none;
}

.login input:focus {
  border-color: var(--primary-color-medium);
}

.login button {
  padding: 0.8rem;
  border-radius: 2rem;
  border: none;
  background: var(--primary-color);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.login button:hover {
  background: var(--primary-color-dark);
}

.toggle-text {
  margin-top: 1rem;
  font-size: 0.85rem;
}

.toggle-text span {
  color: #ff4d4d;
  cursor: pointer;
  font-weight: 500;
}

.terms-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
  color: #666;
}

.terms-checkbox input[type="checkbox"] {
  accent-color: var(--primary-color); 
}

.close-btn{
  width: 2rem;
  height:2rem;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  background: transparent;
  border: none;
  transition: 0.3s ease;
}

 .close{
  font-size: 1.25rem;
}
.close-btn:hover {
  transform: rotate(90deg);
}


