.food-item {
  width: 100%;
  margin: auto;
  border-radius: 0.9375rem;
  box-shadow: 0rem 0rem 0.625rem #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
}

.food-item-image {
  width: 100%;
  border-radius: 0.9375rem 0.9375rem 0rem 0rem;
}

.food-item-info {
  padding: 1.25rem;
}

.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
}

.food-item-name-rating p {
  font-size: 1.25rem;
  font-weight: 500;
}

.food-item-name-rating img {
  width: 4.375rem;
}

.food-item-desc {
  color: #676767;
  font-size: 0.9375rem;
}

.food-item-price {
  color: tomato;
  font-size: 1.375rem;
  font-weight: 500;
  margin-top: 0.625rem;
}

.food-item-image-container {
  position: relative;
}

.food-item-image-container .add {
  width: 2.1875rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
}

.food-item-counter {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding: 0.25rem;
  border-radius: 3.125rem;
  background-color: rgb(255, 255, 255);
  width: 6.3rem;
}

.food-item-counter p {
  width: 0.625rem;
  font-weight: 500;
}

.food-item-counter img{
    width: 1.875rem;
}



