.cart {
  margin-top: 8rem;
  margin: 8rem 6rem;
}
.cart-items-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: gray;
  color: black;
  font-size: max(1vw, 12px);
}
.cart-items-item {
  margin: -1px 0px;
  color: black;
}
.cart-items-item img {
  margin-top: 0.1rem;
  width: 50px;
  border-radius: 0.1875rem;
  display: flex;
  align-items: end;
}
.cart hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}
.cart-items-item .cross {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  color: white;
  margin-left: 1.5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.cart-items-item .cross:hover {
  background-color: var(--primary-color-dark);
}

.cart-promocode .promo-error {
  color: var(--primary-color-dark);
  margin-top: 2rem;
  font-weight: 500;
}

.promo-code {
  background-color: #ece7d1;
  color: var(--primary-color);
  padding: 0.125rem 0.3125rem;
  border-radius: 0.1875rem;
}

.item-quantity {
  margin-left: 2rem;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 12px;
}

.quantity-control button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: none;
  /* background-color: #f3f4f4; */
  background-color: #1A3263;
  /* color: black; */
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
}

.quantity-control span {
  min-width: 20px;
  text-align: center;
  font-weight: 600;
}

.item-title {
  color: var(--primary-color-dark);
  font-weight: 500;
}
.cart-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}
.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: #555;
}
.cart-total hr {
  margin: 10px 0px;
}
.cart-total button {
  border: none;
  color: white;
  background-color: tomato;
  width: max(15vw, 200px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.cart-promocode {
  flex: 1;
}
.cart-promocode p {
  color: #555;
}
.cart-promocode-input {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 4px;
}
.cart-promocode-input input {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}
.cart-promocode-input button {
  width: max(10vw, 150px);
  padding: 12px 5px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 4px;
}
@media (max-width: 750px) {
  .cart-bottom {
    flex-direction: column-reverse;
  }
  .cart-promocode {
    justify-content: start;
  }
  .cart-items-item p {
    padding-left: 10px;
  }
}
