.navbar {
  padding: 0.8rem 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  position: sticky;
  background-color: white;
  z-index: 1000;
  width: 100%;
  box-shadow: 0.3px 0.1px 0.8px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar .logo {
  width: 9.375rem;
}

.navbar-menu {
  display: flex;
  gap: 1.375rem;
  font-size: 1.125rem;
}

.navbar-right {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.navbar button {
  background: transparent;
  font-size: 1rem;
  color: var(--primary-text-color);
  border: 0.0625rem solid var(--primary-color);
  padding: 0.625rem 1.875rem;
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}

.navbar button:hover {
  background-color: #fff4f2;
}

.navbar-menu a {
  position: relative;
  color: var(--primary-text-color);
  padding: 0.1rem;
  text-decoration: none;
}

.navbar-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.25rem;
  width: 0%;
  height: 0.125rem;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.navbar-menu a.active::after {
  width: 100%;
}

.navbar-search-icon {
  position: relative;
  display: inline-block;
}

.navbar-search-icon .dot {
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  top: -0.3rem;
  right: -0.3rem;
}

#home,
#explore-menu,
#app-download,
#footer {
  scroll-margin-top: 6rem;
}
