.header {
  height: 34vw;
  margin: 6rem auto;
  background: url("./header_img.jpg") no-repeat;
  background-size: contain;
  position: relative;
  border-radius: 0.9375rem;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  max-width: 60%;
  bottom: 25%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header-contents h2 {
  font-weight: 500;
  font-size: max(4.6vw, 1.375rem);
}

.header-contents span {
  color: var(--primary-color);
}

.header-contents p {
  font-size: 1.1rem;
  line-height: 1.5;
  max-width: 70%;
}

.header-contents button {
  border: none;
  color: #ffffff;
  font-weight: 400;
  border-radius: 3.125rem;
  font-size: 1.125rem;
  padding: 0.75rem 1.8rem;
  background-color: var(--primary-color);
  /* background-color: #299475; */
}

.header-contents button:hover {
  background-color: var(--primary-color-dark);
}

.hamburger {
  display: none;
}

/* for small laptops */

@media (max-width: 1024px) {
  .navbar {
    padding: 0rem 4%;
  }

  .navbar-menu {
    gap: 1.5rem;
    font-size: 1rem;
  }

  .navbar-right {
    gap: 1.5rem;
  }

  .search-container input {
    padding: 0.625rem 0.625rem 0.625rem 2.5rem; /* left space for icon */
  }

  .search-container {
    width: 10rem;
  }
  .navbar button {
    padding: 0.5rem 1.4rem;
    font-size: 0.9rem;
  }
}
