.food-display {
  margin-top: 1.875rem;
}

.food-display h2 {
  font-size: max(2vw, 1.5rem);
  font-weight: 600;
}

.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  margin-top: 1.875rem;
  gap:1.875rem;
  row-gap: 3.125rem;
  /* column-gap: 3.125rem; */
}
