.food-display {
  margin-top: 1.875rem;
}

.food-display h2 {
  font-size: max(2vw, 1.5rem);
  font-weight: 600;
}

.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  margin-top: 1.875rem;
  gap: 3rem;
}


/* 1024px - Small Laptop / Large Tablet */
@media (max-width: 1024px) {
  .food-display-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 768px - Tablet */
@media (max-width: 768px) {
  .food-display-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 480px - Mobile */
@media (max-width: 480px) {
  .food-display-list {
    grid-template-columns: 1fr;
  }
}